/* font-family: 'Beth Ellen', cursive;
font-family: 'Ma Shan Zheng', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Sriracha', cursive; */

:root {
  --black: #150605;
  --red: #EA453C;
  --pink: #F47B6E;
  --light-blue: #EFFBFE;
  --dark-blue: #003399;
  --blue: #ACE6EC;
  --white: white;
  --mid-grey : #827f7e;

  --carousel-view-height : 400px;
  --carousel-view-width : 700px;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color:inherit;
}

.bigger-heavier-font {
  font-weight : 400;
  font-size : 1.7em;
}

header {
  display : flex;
  flex-direction : column;
  position : relative;
  justify-content : space-evenly;
  color : var(--white);
}

.upper-header-bar {
  display : flex;
  justify-content : flex-end;
  align-items : center;
  height: 50px;
  background : var(--dark-blue);
}

.upper-header-bar > span{
  padding-right: 10px;
  padding-left : 5px;
  font-size : 1.0em;
}

/* exclude icons from font-weight 900 applied to body */
[class^="ri-"] {
  font-weight : 100;
  }
  
.lower-header-bar {
  color : var(--white);
  display : flex;
  align-items : center;
  text-align : center;
  justify-content : space-evenly;
  background : #3399ff;

  text-decoration : none;
}

.lower-header-bar > h1 {
  font-family: 'Sriracha', cursive;
  font-size: 2.6em;
}

.lower-header-bar > p {
  font-size: 1.1em;
}

.lower-header-search-box {
  position : relative;

}

.lower-header-search-box > input {
  border-radius : 0.2em;
  border : none;
  color : #aaa;
  width : 220px;
  height : 30px;
}

.ri-search-line {
  color : var(--mid-grey);
  position : absolute; 
}

.homepage-main {
  display : flex;
  flex-direction : column;
  align-items : center;
}

.homepage-carousel {
  margin : 30px;
  border : black 1px solid;
  height : var(--carousel-view-height);
  width : var(--carousel-view-width);
  z-index : 1;
}

.homepage-carousel-item {
  position : relative;
}

.homepage-welcome-message {
  margin : 0px 50px 20px 50px;
  display : flex;
  flex-direction : column;
  align-items : center;
  text-align : center;
}

.slider-image {
  position : relative;
  height : var(--carousel-view-height);
  width : var(--carousel-view-width);
  z-index : 2;
  object-fit : cover;
/* https://developer.mozilla.org/en-US/docs/Web/CSS/object-fit */

}

.carousel-text-box {
  /* https://www.tutorialrepublic.com/faq/how-to-position-text-over-an-image-using-css.php */
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 60%; /* Adjust this value to move the positioned div up and down */
  text-align: center;
  width: 90%; /* Set the width of the positioned div */

  color : var(--white);
  background-color : rgba(0,51,153,0.65);
  /* used rgba for background color so that white text is not affected 
  by opacity https://stackoverflow.com/questions/33512070/center-text-in-box-with-opacity-and-make-text-solid */
  border : 1px solid black; 
  border-radius : 6px;
}


footer {
  display : flex;
  justify-content : flex-start;
  align-items : flex-end;
  color: rgb(68, 67, 67);
  font-size : 0.9em;
  background:#b3ffff;

  /* position: fixed; */
  bottom : 0;
  height : 90px;
  width : 100%;
}

footer > p {

  padding-left : 10px;
}