/* font-family: 'Beth Ellen', cursive;
font-family: 'Ma Shan Zheng', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Sriracha', cursive; 
font-family: 'Kristi', cursive;
font-family: 'Sacramento', cursive;
*/

:root {
  --black: #150605;
  --red: #EA453C;
  --pink: #F47B6E;
  --light-blue: #EFFBFE;
  --dark-blue: #003399;
  --blue: #ACE6EC;
  --white: white;
  --mid-grey : #827f7e;

  --carousel-view-height : 300px;
  --carousel-view-width : 350px;


}

/* Media query for desktop display */
@media (min-width : 820px) {

  :root {
    --carousel-view-height : 400px;
    --carousel-view-width : 600px;
    }

  .homepage-carousel {
    margin : 30px 30px 30px 30px;
  }
}



a {
  text-decoration: none;
}

a:link, a:visited {
  color:inherit;
}

.carousel-headings {
  font-weight : 500;
  font-size : 1.4em;
  height : 0.7em;
}

.general-heading-font {
  font-weight : 400;
  font-size : 1.6em;
  color : var(--dark-blue);
}

/* exclude icons from font-weight 900 applied to body */
[class^="ri-"] {
  font-weight : 100;
  }

/* ====================================================================== */
/* HEADER CSS */
/* ====================================================================== */

header {
  position : relative;
  display : flex;
  flex-direction : column;
  justify-content : space-evenly;
  color : var(--white);
}

.upper-header-bar {
  display : flex;
  justify-content : flex-end;
  align-items : center;
  height : 40px;
  background : var(--dark-blue);
}

.upper-header-bar > span{
  padding-right: 10px;
  padding-left : 5px;
  font-size : 1.0em;
}

.lower-header-bar {
  height : 110px;
  color : var(--white);
  display : flex;
  align-items : center;

  justify-content : space-evenly;
  background : #3399ff;
  text-decoration : none;

  padding: 0 160px 0 160px;
}

.mobile-lower-header-bar {
  height : 100px;
  color : var(--white);
  display : flex;
  align-items : center;
  justify-content: space-between;
  padding : 0px 100px 0px 50px;
  background : #3399ff;
}

.mobile-lower-header-bar > h1 {
  font-family: 'Kristi', cursive;
  font-size: 3.6em;
}

.lower-header-bar > h1 {
  font-family: 'Kristi', cursive;
  font-size: 3.6em;
}

.lower-header-bar > p {
  font-size: 1.1em;
}

.lower-header-search-box {
  position : relative;
}

.lower-header-search-box > input {
  position : relative;
  border-radius : 0.2em;
  border : none;
  color : #aaa;
  width : 220px;
  height : 30px;
}

.ri-search-line {
  font-weight : 400;
  color : var(--dark-blue);
  position : absolute; 
  right : 0;
}

/* ====================================================================== */

main {
  padding-bottom : 90px;
}

/* ====================================================================== */
/* HOMEPAGE CONTACT FORM CSS */
/* ====================================================================== */

.homepage-main {
  
  display : flex;
  flex-direction : column;
  align-items : center;
}

.homepage-carousel {
  margin : 60px 30px 30px 30px;
  border : black 1px solid;
  height : var(--carousel-view-height);
  width : var(--carousel-view-width);
  z-index : 1;
}

.homepage-carousel-item {
  position : relative;
}

.slider-image {
  position : relative;
  height : var(--carousel-view-height);
  width : var(--carousel-view-width);
  z-index : 2;
  object-fit : cover;
/* https://developer.mozilla.org/en-US/docs/Web/CSS/object-fit */

}

.carousel-text-box {
  /* https://www.tutorialrepublic.com/faq/how-to-position-text-over-an-image-using-css.php */
  position: absolute;
  z-index: 999;
  /* margin: 0 auto; */
  margin : 0 3% 0 3%;
  left: 0;
  right: 0;
  top: 60%; /* Adjust this value to move the positioned div up and down */
  text-align: center;
  /* width: 90%; Set the width of the positioned div */
  

  color : var(--white);
  background-color : rgba(0,51,153,0.65);
  /* used rgba for background color so that white text is not affected 
  by opacity https://stackoverflow.com/questions/33512070/center-text-in-box-with-opacity-and-make-text-solid */
  border : 1px solid black; 
  border-radius : 6px;
}

.homepage-welcome-message {
  margin : 0px 50px 15px 50px;
  display : flex;
  flex-direction : column;
  align-items : center;
  text-align : center;
}

/* ====================================================================== */
/* HOMEGROWN CONTACT FORM CSS */
/* ====================================================================== */

.homegrown-contact-main {
  display : flex;
  flex-direction : column;
  margin : 0 20% 5% 20%;
}

form {
  display : flex;
  flex-direction : column;
  align-items : flex-start;
}

.form-element {

  display : flex;
  flex-direction : column;
  width : 100%;
  padding : 5px 0;
}

form input {
  height : 25px;
}

form textarea {
  height : 200px;
}

form button {
  height : 25px;
  width : 50%;
  align-self : center;

}

/* ====================================================================== */
/* FOOTER CSS */
/* ====================================================================== */

footer {
  position : absolute;
  bottom : 0;
  width : 100%;
  height : 90px;

  display : flex;
  justify-content : flex-start;
  color: rgb(68, 67, 67);
  font-size : 0.9em;
  background:#b3ffff;
}

footer > p {
  padding-left : 10px;
}

/* ====================================================================== */
/* BURGER NAVIGATION CSS */
/* ====================================================================== */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 76px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: var(--white); }
  
/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 44px;
  width: 44px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  overflow : hidden;
}

/* General sidebar styles */
.bm-menu {
  background: var(--dark-blue);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  overflow : hidden;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: var(--white);
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  overflow : hidden;
}